<ion-header>
  <ion-toolbar>
    <ion-title>REGISTRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>Registro ene el sistema</h1>
  <h2>Rellena tus datos de acceso</h2>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre" type="nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="password1" [type]="tipoCampoPassword1"></ion-input>
    <ion-icon (click)="verClave1()" name="eye"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="password2" [type]="tipoCampoPassword2"></ion-input>
    <ion-icon (click)="verClave2()" name="eye"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-button (click)="registro()" shape="round" fill="outline">Registrarme</ion-button>
  </ion-item>

</ion-content>
