<ion-header>
  <ion-toolbar>
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>Acceso sistema</h1>
  <h2>Introduzca sus datos de acceso</h2>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="password" [type]="tipoCampoPassword"></ion-input>
    <ion-icon (click)="verClave()" name="eye"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-button (click)="acceder()" shape="round" fill="outline">Entrar</ion-button>
  </ion-item>
  <ion-item>
    <ion-button (click)="registro()" shape="round" fill="outline">Registro</ion-button>
  </ion-item>

</ion-content>
