<app-header></app-header>


<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Cargando...">
      </ion-refresher-content>
    </ion-refresher>

  <ul *ngFor="let paciente of pacientes">


    <ion-item detail (click)="abrirPaciente(paciente.id)">
      <ion-label>    

        <ion-avatar>
          <img src="https://previews.123rf.com/images/yupiramos/yupiramos1609/yupiramos160923241/63059159-mujer-de-avatar-pensando-en-asador-de-carne-de-barbacoa-dise%C3%B1o-colorido-ilustraci%C3%B3n-vectorial.jpg">
        </ion-avatar>
        
        <ion-item>
        Id:
        {{paciente.id}}
        </ion-item>
        <ion-item>
        Nombre:
        {{paciente.nombre}}
        </ion-item>
        <ion-item>
        Fecha:
        {{paciente.fecha}}
        </ion-item>

      </ion-label>
    </ion-item>

  </ul>

      <ion-card *ngIf="connectionError">
        <ion-card-content>
        Ups! Hemos perdido la conexión!
        </ion-card-content>

        <ion-button (click)="loadData($event)" expand="full" fill="outline">Inténtalo de nuevo</ion-button>

      </ion-card>

      <ion-infinite-scroll (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

</ion-content>
