<app-header></app-header>


<ion-content>

  <ion-card>
      <ion-card-header>

        <ion-card-subtitle>
        {{paciente.id}}
        </ion-card-subtitle>

        <ion-card-title>
        {{paciente.nombre}}
        </ion-card-title>

        <ion-card-title>
        {{paciente.fecha}}
        </ion-card-title>

      </ion-card-header>
    
      <ion-card-content>
      {{paciente.descripcion}}
      </ion-card-content>

      <ion-button (click)="eliminar()" color="danger">
          <ion-icon name="trash"></ion-icon>
      </ion-button>

      <ion-button color="primary">
          <ion-icon src="../assets/fontawesome/pen-solid.svg"></ion-icon>
      </ion-button>

    </ion-card>
    

</ion-content>
